@font-face {
  font-family: Roboto;
  src: url(/font/Roboto-Regular.ttf);
}

body {
  color: #2d3c49;
  font: 16px/1.5 "Roboto", sans-serif;
}

header,
main,
footer {
  padding: 2rem 0;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.author-info {
  padding-top: 1rem;
}

.author-description {
  font-size: 1.25rem;
}

.hero {
  padding-top: 2rem;
}

.hero-img {
  width: 100%;
}

.main-title {
  color: #7d97ad;
}
