@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Regular.ttf);
}

body {
  color: #2d3c49;
  font: 16px/1.5 "Roboto", sans-serif;
}

header,
main,
footer {
  padding: 2rem 0;
}

footer {
  background-color: #eceeef;
}

.author-info {
  padding-top: 1rem;
}

.author-description {
  font-size: 1.25rem;
}

.main-title {
  color: #7d97ad;
}
